@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90% !important;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100% !important;
  }
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 40%;
  }
  #hero h1 {
    font-size: 24px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .clients img {
    max-width: 40% !important;
  }
}

@media (max-width: 1024px) {

  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }

  .why-us .content {
    padding-top: 30px;
  }

  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
  }
}
@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100% !important;
    margin: 0 auto 30px auto !important;
  }
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
}
@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center !important;
    float: none !important;
  }

  #footer .credits {
    padding-top: 4px !important;
  }
}